<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MRP_SdC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MRP_SdC.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>SacodeCarvao</value>
            </setting>
            <setting name="Usuario" serializeAs="String">
                <value>SacodeCarvao</value>
            </setting>
            <setting name="Senha" serializeAs="String">
                <value>SacodeCarvao</value>
            </setting>
        </MRP_SdC.Properties.Settings>
    </userSettings>
</configuration>